body{
    font-family: 'Montserrat', sans-serif;
}
.general-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F8F8F8;
    border: 1px solid #dedede;
    border-radius: 30px;
    width: 537px;
    height: 537px;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.text-login {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #292D32;
    margin-top: 30px;
}
.input-field {
    font-family: 'Montserrat', sans-serif;
    width: 380px;
    padding: 16px 20px;
    margin: 10px 0;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-size: 16px;
    color: #6B6B6B;
}
.enter-button {
    font-family: 'Montserrat', sans-serif;
    width: 252px;
    padding: 16px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #530A4E;
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 25px;
}
.title-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #292D32;
    margin-left: 10px;
}
.line {
    height: 38px;
    border-left: 0.5px solid #dedede;
    margin-left: 15px;
}
.username {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #292D32;
    margin-left: 15px;
}
.button-logout {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #dedede;
    border-radius: 5px;
    margin-left: 35px;
    padding: 0px 7px;
}
.line-header {
    width: 100vw;
    border-top: 0.5px solid #dedede;
}
.general-container-gerenc {
    margin: 15px;
}
.title-container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.titles-text {
    margin-left: 15px;
}
.title {
    font-weight: 500;
    font-size: 16px;
    color: #292D32;
    margin: 0;
}
.subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #6B6B6B;
    margin: 0;
}
.button-monitoramento {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 10px;
    width: 379px;
    height: 35px;
    color: #530A4E;
    font-weight: 500;
    font-size: 12px;
    border-radius: 8px;
    border: 0.5px solid #530A4E !important;
    background: rgba(83, 10, 78, 0.05);
}
.actions-container {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container{
    width: 330px;
    height: 48px;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.search-container input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #4D4D4D;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
}

.search-container input::placeholder{
    color: #A1A1A1;
}

.buttons-actions{
    display: flex;
    gap: 12px;
}
 .button-secondary{
    font-family: 'Montserrat', sans-serif;
    height: 44px;
    padding: 0 18px;
    border-radius: 10px;
    border: 1px solid #D8C2D7;
    background-color: transparent;
    color: #B5A1B4;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

}

.button-primary{
    height: 44px;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    background-color: #6E1569;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
/* TABLE */

.table-container{
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    background-color: white;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #ECECEC;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background-color: #FAFAFA;
}

th{
    text-align: left;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #3A3A3A;
}

td{
    padding: 24px 20px;
    font-size: 14px;
    color: #626262;
    border-top: 1px solid #F0F0F0;
}

.status-ativo{
    color: #3FA25F;
    font-weight: 600;
}

.status-inativo{
    color: #D34A4A;
    font-weight: 600;
}

tr:hover{
    background-color: #FCFCFC;
}

.checkbox{
    width: 18px;
    height: 18px;
    border-color: #dedede;
}