<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-components/modal.css') }}">
    <title>Sala de Segurança</title>
</head>
<body>
    <div>
        <header class="header">
            <img class="logo" src="../static/img/icons/logo-sem.svg" alt="">
            <p class="title-header">Sala de Segurança</p>
            <div class="line"></div>
            <div style="display: flex; align-items: center; margin-left: auto;">
                <img src="../static/img/icons/usuario.svg" alt="">
                <p class="username">username</p>
                <div class="button-logout" onclick="window.location.href='login.html'">
                    <p>Sair</p>
                    <button style="background: none; border: none; padding: none;">
                        <img style="width: 20px; height: 20px;" src="../static/img/icons/logout-user.svg" alt="">
                    </button>
                </div>
            </div>
        </header>
        <div class="line-header"></div>
        <div class="general-container-gerenc">
            <div class="title-container">
                <img src="../static/img/icons/users-gerenc.svg" alt="">
                <div class="titles-text">
                    <p class="title">Gerenciamento de Usuários</p>
                    <p class="subtitle">Administre eficientemente o acesso dos usuários ao versionamento.</p>
                </div>
                <button class="button-monitoramento" onclick="window.location.href='dashboard'">
                    <img src="../static/img/icons/dashboards.svg" alt="">
                    <p>Monitorar em Tempo Real</p>
                </button>
            </div>
        </div>
        <div class="actions-container">

            <div class="search-container">

                <input type="text" placeholder="Buscar Usuário">

                <img src="../static/img/icons/lupa.svg" alt="">

            </div>

            <div class="buttons-actions">
                <button class="button-secondary">
                    <img src="../static/img/icons/user-edit.svg" alt="">
                    Editar Usuário
                </button>

                <button class="button-secondary">
                    <img src="../static/img/icons/trash.svg" alt="">
                    Excluir Usuário
                </button>

                <button class="button-primary" id="openModal">
                    <img src="../static/img/icons/profile-add.svg" alt="">
                    Cadastrar Usuário
                </button>
            </div>
        </div>
        <div class="table-container">

            <table>

                <thead>
                    <tr>
                        <th>
                            <input class="checkbox" type="checkbox">
                        </th>

                        <th>Nome</th>
                        <th>RFID</th>
                        <th>Cargo</th>
                        <th>Status</th>
                        <th>Último acesso</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td><input class="checkbox" type="checkbox"></td>
                        <td>Nome de Sobrenome</td>
                        <td>000000</td>
                        <td>Cargo</td>
                        <td class="status-ativo">Ativo</td>
                        <td>00/00/0000 - 00:00</td>
                    </tr>

                    <tr>
                        <td><input class="checkbox" type="checkbox"></td>
                        <td>Nome de Sobrenome</td>
                        <td>000000</td>
                        <td>Cargo</td>
                        <td class="status-inativo">Inativo</td>
                        <td>00/00/0000 - 00:00</td>
                    </tr>

                    <tr>
                        <td><input class="checkbox" type="checkbox"></td>
                        <td>Nome de Sobrenome</td>
                        <td>000000</td>
                        <td>Cargo</td>
                        <td class="status-ativo">Ativo</td>
                        <td>00/00/0000 - 00:00</td>
                    </tr>

                    <tr>
                        <td><input class="checkbox" type="checkbox"></td>
                        <td>Nome de Sobrenome</td>
                        <td>000000</td>
                        <td>Cargo</td>
                        <td class="status-ativo">Ativo</td>
                        <td>00/00/0000 - 00:00</td>
                    </tr>

                    <tr>
                        <td><input class="checkbox" type="checkbox"></td>
                        <td>Nome de Sobrenome</td>
                        <td>000000</td>
                        <td>Cargo</td>
                        <td class="status-ativo">Ativo</td>
                        <td>00/00/0000 - 00:00</td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>
    {% include 'components/modal.html' %}
    <script src="{{ url_for('static', filename='js/colaboradores.js') }}"></script>
</body>
</html>