<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Sala de Segurança</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="general-container">
        <div class="login-container">
            <img class="logo" src="../static/img/logo-seguranca.svg" src="{{ url_for('static', filename='img/logo-seguranca.svg') }}" alt="Logo">
            <p class="text-login">Faça login para entrar na sua conta:</p>
            <input class="input-field" type="text" placeholder="Nome" id="usuario">
            <input class="input-field" type="password" placeholder="Senha" id="senha">
            <button class="enter-button" type="button" id="btnLogin">Entrar</button>
            <p id="erro-login"></p>
        </div>
    </div>
</body>
<script src="../static/js/login.js"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</html>